// TODO: actually use them on .Light

$first-color: #37353E !default;
$second-color: #44444E !default;
$third-color: #715A5A !default;
$fourth-color: #D3DAD9 !default;


$first-color-light: #896C6C !default;
$second-color-light: #E5BEB5 !default;
$third-color-light: #EEE6CA !default;
$fourth-color-light: #F5FAE1 !default;

