@use "colorpalette";

.center__text{
    text-align: center;
}

body{
    background-color: black;
    color: colorpalette.$fourth-color;
}

.mainbody{
    margin: 0 32px;
}
a{
    color: #008000;
}

.links{
    display: flex;
    justify-content:space-between;
    margin-top: 12px;
}

.project__item{
    display: flex;
    margin: 32px 10vw;

    img{
        margin-right: 64px;
    }
    .information{
        h4{
            font-size: 32px;
        }
        p{
            font-size: 24px;
        }
        
    }
}

.Light a{
    color: purple;
}

@media (max-width: 720px) {
    .project__item{
        margin-bottom: 32px;
        flex-direction: column;
        justify-self: center;
        img{
            margin-right: 16px;
            width: 128px;
            height: 128px;
        }
        .information{
            h4{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}