@use "colorpalette";

.center__text{
    text-align: center;
}

body{
    background-color: black;
    color: colorpalette.$fourth-color;
}

.mainbody{
    margin: 0 32px;
}
a{
    color: #008000;
}
.Light a{
    color: purple;
}