
.projects{
    color: #9A9A9A;
    font-size: 54px;
    margin: 0px 100px;
    margin-top: 42px;

    .projects__title{
        margin-bottom: 64px;
    }
    h2{
        margin: 0px;
    }
    p{
        margin: 0;
    }
    p:first-child{
        margin-top:1vh;
    }
    .centered{
        text-align: center;
    }
    ul{
        list-style: none;
        font-size: 0.75em;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    li{
        width: 30%;
        border: 6px #580896 solid;
        border-radius: 10%;
        margin-bottom: 40px;
        padding: 12px;
        text-align: center;
        height: 100%;
    }

    a{
        color: #042889;
    }
    a:hover{
        color: #0540BA;
    }
    a:active{
        color: #0660F6;
    }
    .todolistdescr{
        font-size: 0.75em;
    }

    @media(max-width: 1680px){
        li{
            font-size: 0.8em;
            width:40%;
        }
    }
    @media(max-width: 1080px){
        h2{
            font-size: 0.5em;
        }
    }
    @media(max-width: 720px){
        li{
            width: 100%;
            font-size: 0.4em;
        }
    }
}
